
<div class="row">
  <div class="panel large-8 large-centered columns">
  <h2 class="center" style="margin-bottom: 25px;">Login</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="small-12 large-11 large-centered columns ">
      <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>
    </div>

    <div class="small-12 large-11 large-centered columns ">
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password (8 characters minimum)" %>
    </div>

    <div class="small-12 large-11 large-centered columns "> 
      <%= f.submit "Login", class: "small button primary expand" %>
    </div>

    <% if devise_mapping.rememberable? -%>
    <div class="small-12 large-11 large-centered columns">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <% end %>

    <div class="small-12 large-11 large-centered columns">
      <%= render "devise/shared/links" %>
    </div>

  <% end %>
  </div>
</div>