
<%= render 'layouts/filter' %>
<div class="row">
<table class="small-12 small-centered large-12 large-centered">
    <thead>
      <tr>
        <th>SEVA Score</th>
        <th>Name</th>
        <th>State</th>
        <th>Class</th>
        <th>Height</th>
        <th>PPG</th>
        <th>APG</th>
        <th>RPG</th>
      </tr>
    </thead>
    <tbody>
    <% @players.each do |player| %>
    <tr>
      <td><strong><%= player.seva_score_c %></strong></td>
      <td><%= link_to player.name, player_path(player) %></td>
      <td><%= player.st %></td>
      <td><%= player.hsclass %></td>
      <td><%= player.height %></td>
      <td><%= player.ppgc %></td>
      <td><%= player.apgc %></td>
      <td><%= player.rpgc %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="center">
<%= will_paginate @players, :previous_label => "PREV", :next_label => 'NEXT' %>
</div>

</div>



