
  <fieldset>
    <legend>Filter Players</legend>
      <%= form_tag(players_path, method: :get) do %>
        <div class="small-6 large-2 columns">
          <%= select_tag "seva_score", options_for_select(0..10, selected: params[:seva_score]), include_blank: 'SEVA Score', class: '' %>
        </div>
        <div class="small-6 large-1 columns">
          <%= select_tag "ppg", options_for_select(0..50, selected: params[:ppg]), include_blank: 'PPG', class: '' %>
        </div>
        <div class="small-6 large-1 columns">
          <%= select_tag "apg", options_for_select(0..30, selected: params[:apg]), include_blank: 'APG', class: '' %>
        </div>
        <div class="small-6 large-1 columns">
          <%= select_tag "rpg", options_for_select(0..30, selected: params[:rpg]), include_blank: 'RPG', class: '' %>
        </div>
        <div class="small-6 large-1 columns">
          <%= select_tag "bpg", options_for_select(0..30, selected: params[:bpg]), include_blank: ' BPG', class: '' %>
        </div>
        <!-- <div class="small-6 large-1 columns">
          <%#= select_tag "spg", options_for_select(0..30, selected: params[:spg]), include_blank: 'SPG', class: '' %>
        </div> -->
        <div class="small-6 large-1 columns">
          <%= select_tag "fg", options_for_select(0..100, selected: params[:fg]), include_blank: 'FG%', class: '' %>
        </div>
        <div class="small-6 large-1 columns">
          <%= select_tag "win", options_for_select(0..100, selected: params[:win]), include_blank: 'Win%', class: '' %>
        </div>
        <div class="small-6 large-1 columns">
          <%= select_tag "height", options_for_select(60..86, selected: params[:height]), include_blank: 'Height', class: '' %>
        </div>
        <div class="small-6 large-1 columns">
          <%= select_tag "style", options_for_select(["Post5","Post4"], selected: params[:style]), include_blank: 'Position', class: '' %>
        </div>
        <div class="small-6 large-1 columns">
          <%= select_tag "stat_year", options_for_select(2014..2017, selected: params[:stat_year]), include_blank: 'Class', class: '' %>
        </div>
        <div class="small-6 large-1 columns">
          <%= select_tag "st", options_for_select(["UT","TX","NY","CA","MD","GA","PA","IL","NV","OH","VA","ND","ID","MO","FL"], selected: params[:st]), include_blank: 'State', class: '' %>
        </div>
         <div class="small-4 medium-4 large-2 columns" style="margin-top: -10px;">
          <%= link_to fa_icon('refresh'), players_path, class: "tiny button expand alert" %>
        </div>
        <div class="small-4 medium-4 large-8 columns" style="margin-top: -10px;">
          <input style="height: 33px;", type= "text", placeholder="Search by Name..." />
        </div>
        <div class="small-4 medium-4 large-2 columns" style="margin-top: -10px;">
          <%= submit_tag "Filter" , class: "tiny button expand" %>
        </div>
      <% end %>
  </fieldset>
